<ons-page id="Favorite">
    <p style="text-align:left;">
        <img src="img/1.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><b>Mulan</B><br>Mulan was about a young girl who had joined the fight to fight the devil's life.Because of being a young woman, Mulan had to pretend to be a man so as not to be known, and with her abilities, might win.
            <br><br><b>RATING</b><br><img src="img/4.png" width="150" height="30">
        <img src="img/2.jpg" width="188" height="285" style="float:left; margin:20px 10px;"><br><br><br><b>Tennet</B><br>TENET is a spy who is learning about the mechanics of time in order to complete a mission. And find out if a bullet moves forward in time And another bullet is walking backwards.
            <br><br><b>RATING</b><br><img src="img/6.png" width="150" height="30">
        <img src="img/3.jpg" width="188" height="275" style="float:left; margin:20px 10px;"><br><br><br><br><b>Fast 9</B><br> Dom Toretto, played by Vin Diesel, escapes quietly with his young son Letty and Brian. But they know that even in peaceful lands Is still dangerous This time, Dom must face his past sins.
            <br><br><b>RATING</b><br><img src="img/7.png" width="150" height="30">
    </p>
</ons-page>