<ons-page>
<ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>

<template id="page1.html">
  <ons-page id="page1">
    <ons-carousel var="carousel" ons-postchange="console.log('Changed to ' + $event.activeIndex)" swipeable auto-scroll overscrollable>
        <ons-carousel-item>
          <img src="img/1.jpg" width="375" height="600" id="m1">
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/2.jpg" width="375" height="600">
        </ons-carousel-item>
        <ons-carousel-item>
          <img src="img/3.jpg" width="375" height="600">
        </ons-carousel-item>
      </ons-carousel>
<h1><br>Top3 of Movie</br></h1>
  </ons-page>
</template>
</ons-page>